*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
.pytest_cache

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# temp file
.DS_Store
*.pkl

# venv
.venv/

# Cookiecutter
output/

# vscode
.vscode

# notebooks
notebooks/

# data - runtime files
data/img_cache/
data/bus.db-shm
data/bus.db-wal
*.db-shm
*.db-wal
data/model/

# uploaded
data/uploaded.db

# frontend
frontend/node_modules/
frontend/dist/
frontend/package-lock.json
data/bus.db
data/bus.db
app/bus.db
